/* Шрифты */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Обнуление */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active {
  outline: none;
}
a:focus,a:active {
  outline: none;
}

header, nav, main, section, aside, footer, article, figure {
  display: block;
}

html,body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
 font-size: 10px;
}

input, button, textarea, select {
  font-family: inherit; font-size: 100%;
}

input {
  -webkit-appearance: none; 
  appearance: none;
  border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button { 
  display: none; 
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer; border-radius: 0;
}

button::-moz-focus-inner {
  padding:0;border:0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
  font-size:inherit;font-weight: 400;
}

/*--------------------*/

body {
  font-family: Roboto, sans-serif;
}

.wrapper {
  min-height: 100%;
  position: relative; 
}

.winner-declarator {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 5rem;
  color: blue;
  font-weight: 700;
}

.tic-tac-toe {
  width: 300px;
  height: 300px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.field-block {
  border: 5px solid #000;
  border-left: none;
  border-bottom: none;
}

.field-block:nth-child(3n) {
  border-right: none;
}

.field-block:first-child,
.field-block:nth-child(2),
.field-block:nth-child(3) {
  border-top: none;
}

.field {
  cursor: pointer;
  height: 100%;
  font-size: 7rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}

.field_highlighted {
  background-color: red;
  color: #fff;
}